@import 'app.variables'

$typography-font-family     ?= 'Roboto'

$toolbar-color              ?= white
$toolbar-background         ?= $primary
$toolbar-active-color       ?= $primary
$toolbar-faded-color        ?= composite-color($primary)

@import '~quasar-framework/dist/quasar.mat.styl'
