@import 'app.variables'

$typography-font-family     ?= '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

$toolbar-color              ?= #424242
$toolbar-background         ?= $light
$toolbar-active-color       ?= $light
$toolbar-faded-color        ?= composite-color($toolbar-color)

@import '~quasar-framework/dist/quasar.ios.styl'
